language: python

python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "pypy"
    - "pypy3.5"

install:
    - pip install -U setuptools
    - pip install zc.buildout
    - buildout bootstrap
    - buildout

script:
    - bin/test -v1

notifications:
    email: false

cache:
  pip: true
  directories:
    - eggs/
