[buildout]
develop = .
parts = interpreter test

[versions]
tempstorage =

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs = tempstorage

[test]
recipe = zc.recipe.testrunner
eggs = tempstorage
